/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 8, ../sass/screen.scss */
body {
  background: #333;
  padding-top: 0;
  padding-bottom: 40px;
  font-size: 16px;
}

/* line 15, ../sass/screen.scss */
a {
  color: #333333;
  text-decoration: underline;
}
/* line 24, ../../../../../../../../../.rvm/gems/ruby-1.9.3-p448/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
a:hover {
  color: black;
}
/* line 19, ../sass/screen.scss */
a:hover {
  text-decoration: none;
}

/* line 24, ../sass/screen.scss */
.main-wrapper {
  background: white;
}

/* line 30, ../sass/screen.scss */
.footer a,
.header-container a {
  text-decoration: none;
}

/* line 35, ../sass/screen.scss */
.container-narrow {
  background: white;
  margin: 0 auto;
  max-width: 700px;
}
/* line 40, ../sass/screen.scss */
.container-narrow > hr {
  margin: 30px 0;
}
/* line 44, ../sass/screen.scss */
.container-narrow ul.menu {
  margin-top: 10px;
}

/* line 49, ../sass/screen.scss */
.submitted {
  font-style: normal;
  color: #333;
}

/* line 55, ../sass/screen.scss */
h1.title,
h1.page-header {
  font-size: 30px;
}
/* line 58, ../sass/screen.scss */
h1.title a,
h1.page-header a {
  text-decoration: none;
}

/* line 63, ../sass/screen.scss */
h2 {
  font-size: 25px;
}

/* line 67, ../sass/screen.scss */
h3 {
  font-size: 20px;
}

/* line 71, ../sass/screen.scss */
.footer {
  background: #333;
  color: white;
  border-top: none;
  font-size: 14px;
}
/* line 77, ../sass/screen.scss */
.footer h2.block-title {
  display: none;
}
/* line 81, ../sass/screen.scss */
.footer ul.views-summary {
  margin-left: 0;
  width: 700px;
}
/* line 86, ../sass/screen.scss */
.footer ul.views-summary li {
  list-style: none;
  float: left;
  width: 175px;
}
/* line 93, ../sass/screen.scss */
.footer a {
  color: white;
}
/* line 24, ../../../../../../../../../.rvm/gems/ruby-1.9.3-p448/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
.footer a:hover {
  color: #cccccc;
}
