/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import 'compass';

body {
  background: #333;
  padding-top: 0;
  padding-bottom: 40px;
  font-size: 16px;
}

a {
  @include link-colors(#333, #000);

  &:hover {
    text-decoration: none;
  }
}

.main-wrapper {
  background: white;
}

.container-narrow {
  background: white;
  margin: 0 auto;
  max-width: 700px;

  & > hr {
    margin: 30px 0;
  }

  ul.menu {
    margin-top: 10px;
  }
}

.submitted {
  font-style: normal;
  color: #333;
}

h1.title,
h1.page-header {
  font-size: 30px;
}

h2 {
  font-size: 25px;
}

h3 {
  font-size: 20px;
}

.footer {
  background: #333;
  color: white;
  border-top: none;
  font-size: 14px;

  h2.block-title {
    display: none;
  }

  ul.views-summary {
    margin-left: 0;

    width: 700px;

    li {
      list-style: none;
      float: left;
      width: 175px;
    }
  }

  a {
    @include link-colors(white, darken(white, 20));
  }
}

